{{!-- {{#> main}} --}}
<header>
    <nav>
        <ul>
            <li>
                <a href="#">{{linkOne}}</a>
            </li>
            <li>
                <a href="#">Matches</a>
            </li>
            <li>
                <a href="#">Account</a>
            </li>
        </ul>
    </nav>
</header>
<main>
    <nav>
        <ul class="contacts-list">
            {{#each result}}
            <li>
                <a href="#">
                    <img src="{{this.pfPicture}}" alt="Profile picture" />
                    <p>{{this.name}} {{this.lastname}}</p>
                </a>
            </li>
            {{/each}}
        </ul>
    </nav>
    <section class="chatPlace">
        {{#each result}}
        <div id="{{this.name}}">
            <div>
                <button>Back</button>
                <img src="{{this.pfPicture}}" alt="Profile picture" />
                <h2>{{this.name}} {{this.lastname}}</h2>
            </div>
            <div>
                {{!-- gets data from database with all the messages. Depends on who is asking --}}
                {{!-- chat --}}
            </div>
            <div>
                <button>Smileys</button>
                <button>Language</button>
                <form action="/" method="post"></form>
                    <input type="text" name="message" />
                    <input type="submit" value="Add" />
                    {{!-- needs to be specific for every user --}}
                </form>
            </div>
        </div>
        {{/each}}
    </section>
</main>

<script src="js/script.js"></script>

    {{!-- {{! popups }}
    <section>
        <h2>You've got a <span>MATCH</span>!</h2>
    </section>
    <section>
        <h2 class="visually-hidden">Your match</h2>
        <section>
            <img src="images/pfpicture.png" alt="Photo of your match" />
        </section>
        <ul>
            <li>John Paddington</li>
            <li>22 yrs old</li>
            <li>10km away</li>
            <li>Likes Ice cream</li>
        </ul>
        <button>Open chat</button>
    </section>
    {{! popups }} --}}