<header>
    <img src="/images/plancheimg.png" alt="Calisthenics website logo" />
    <nav>
        <ul>
            <li>
                <a href="#">Matches</a>
            </li>
            <li>
                <a href="#">Account</a>
            </li>
        </ul>
    </nav>
</header>
<main id="locations">
    <section>
        <h1>Calisthenics locations</h1>
        <a href="/locations/add">Add location</a>

    </section>
    <ul>
        {{#each result}}
            <li class="{{this.country}} {{this.city}} {{this.adressForClass}}  
                    {{#if this.setup.highbar}}
                        {{this.setup.highbar}}
                    {{/if}}
                    {{#if this.setup.highbar}}
                        {{this.setup.mediumbar}}
                    {{/if}}
                    {{#if this.setup.lowbar}}
                        {{this.setup.lowbar}}
                    {{/if}}
                    {{#if this.setup.dipbars}}
                        {{this.setup.dipbars}}
                    {{/if}}
                    {{#if this.setup.ladder}}
                        {{this.setup.ladder}}
                    {{/if}}
                    {{#if this.setup.pole}}
                        {{this.setup.pole}}
                    {{/if}}">
                <div>
                    <img src="/upload/{{this.img}}" alt="Picture of the place" />
                </div>

                <p>{{this.country}}</p>
                <p>{{this.city}}</p>
                <p>{{this.adress}}</p>
                <p>{{this.discription}}</p>

                <p>
                    {{#if this.setup.highbar}}
                        #{{this.setup.highbar}}
                    {{/if}}
                    {{#if this.setup.mediumbar}}
                        #{{this.setup.mediumbar}}
                    {{/if}}
                    {{#if this.setup.lowbar}}
                        #{{this.setup.lowbar}}
                    {{/if}}
                    {{#if this.setup.dipbars}}
                        #{{this.setup.dipbars}}
                    {{/if}}
                    {{#if this.setup.ladder}}
                        #{{this.setup.ladder}}
                    {{/if}}
                    {{#if this.setup.pole}}
                        #{{this.setup.pole}}
                    {{/if}}
                </p>
                {{#if this.coordinates}}
                    <a href="https://www.google.com/maps/place/{{this.coordinates}}" target="”_blank”">Google maps location</a>
                {{/if}}
            </li>
        {{/each}}
    </ul>
    <section>
        <h2>Filter locations</h2>
        <p id="javascriptOff">Turn on Javascript to use the filter function</p>
        <label for="country">Country
            <select name="country">
                <option value="0">-</option>
                {{#each result}}
                    <option value="{{this.country}}">{{this.country}}</option>
                {{/each}}
            </select>
        </label>
        <label for="city">City
            <select name="city">
                <option value="0">-</option>
                {{#each result}}
                    <option value="{{this.city}}">{{this.city}}</option>
                {{/each}}
            </select>
        </label>
        <label for="street">Street
            <select name="street">
                <option value="0">-</option>
                {{#each result}}
                    <option value="{{this.adressForClass}}">{{this.adressForClass}}</option>
                {{/each}}
            </select>
        </label>
        <section>
            <h3>Setup</h3>
            <label for="highbar">Highbar
                <input type="checkbox" name="highbar" value="highbars" />
            </label>
            <label for="lowbar">Lowbar
                <input type="checkbox" name="lowbar" value="lowbar" />
            </label>
            <label for="dipbars">Dipbars
                <input type="checkbox" name="dipbars" value="dipbars" />
            </label>
            <label for="ladder">Ladder
                <input type="checkbox" name="ladder" value="ladder" />
            </label>
            <label for="pole">Pole
                <input type="checkbox" name="pole" value="pole" />
            </label>
        </section>
    </section>
</main>

<script src="/js/filter.js"></script>
<script src="/js/locationScript.js"></script>