<header>
    <img src="/images/plancheimg.png" alt="Calisthenics website logo" />
    <nav>
        <ul>
            <li>
                <a href="#">Matches</a>
            </li>
            <li>
                <a href="#">Account</a>
            </li>
        </ul>
    </nav>
</header>
<main id="locations">
    <h1>Calisthenics locations</h1>
    <ul>
        {{#each result}}
            <li class="{{this.country}} {{this.city}} {{this.adressforClass}} {{this.setup}}">
                <img src="{{this.img}}" alt="Picture of the place" />
                <p>{{this.country}}</p>
                <p>{{this.city}}</p>
                <p>{{this.adress}}</p>
                <p>{{this.discription}}</p>
                <p>{{this.setup}}</p>
            </li>
        {{/each}}
    </ul>
    <a href="/locations/add">Add location</a>
    <section>
        <h2>Filter locations</h2>
        <label for="country">Country
            <select name="country">
                {{#each result}}
                    <option value="">{{this.country}}</option>
                {{/each}}
            </select>
        </label>
        <label for="city">City
            <select name="city">
                {{#each result}}
                    <option value="">{{this.city}}</option>
                {{/each}}
            </select>
        </label>
        <label for="setup">Setup
            <select name="setup">
                <option value="">Highbar</option>
                <option value="">Lowbar</option>
                <option value="">Dipbars</option>
                <option value="">Ladder</option>
                <option value="">Pole</option>
            </select>
        </label>

    </section>
</main>

<script src="/js/filter.js"></script>